
@import "owl.carousel";
@import 'ember-paper';
@import 'colors';

$base-padding: 1em;
$body: 'Roboto', sans-serif;
$secondary: 'Roboto Mono', monospace;
$space-mono: 'Space Mono', monospace;

@font-face {
  font-family: 'Moon';
  src:  url('/assets/fonts/MoonLight.otf'),
}

* {
  box-sizing: border-box;
}

.align {
  &--center {
    text-align: center;
    margin: 0 auto;
  }

  &--left {
    text-align: left;
  }
}

.flex {display: flex; flex: 1};

body {
  font-family: $body;
  color: #66595C;
  font-weight: 300;
  font-size: 16px;
}

.back {
  background-color: $codegreen !important;
}

//Carousel styles
.screenshot-wrapper {
  text-align: center;
  margin: 0 auto;
  .screenshot-card {
    // width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

.carousel-background {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  background-color: #B39DDB;
}

.owl-carousel {
  .owl-item {
    min-width: 400px;
    transform: translateZ(0);
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
    img {
      width: 100%;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
  }
}
.owl-stage {
  display: flex;
  justify-content: space-between;
  max-height: 500px;
}

.owl-nav {
font-size: 2em;
text-align: center;
-webkit-tap-highlight-color: transparent;
position: relative;
top:40%;
left: 0;
height:20%;
width: 100%;
line-height: 2em;
z-index: 2;
  .owl-prev,
  .owl-next {
    background-color: $codegreen-lt !important;
    z-index: 2;
    i {
      font-size: 36px;
      padding-left: 8%;
      padding-top: 25%;
      color: white;
    }
  }
  .owl-prev:not([disabled]):hover,
  .owl-next:not([disabled]):hover {
    background-color: $codegreen-lt;
    opacity: .8;
  }
  .owl-prev:not([disabled]):focus,
  .owl-next:not([disabled]):focus {
    background-color: $codegreen-lt;
  }
  .owl-prev.disabled,
  .owl-next.disabled {
    background-color: $codegreen-lt;
    opacity: .2;
  },
  .owl-prev {
    display: inline-block;
    position: absolute;
    left: -8%;
    @media (min-width: 1920px) {
      left: -3.4%;
    }
    @media (min-width: 960px) and (max-width: 1275px) {
      left: -7%;
    }
    @media (min-width: 1275px) and (max-width: 1920px) {
      left: -6.4%;
    }
  },
  .owl-next {
    display: inline-block;
    position: absolute;
    right: -25%;
    @media (min-width: 1920px) {
      right: -10.4%;
    }
    @media (min-width: 1275px) and (max-width: 1920px) {
      right: -19.4%;
    }
    @media (min-width: 960px) and (max-width: 1275px) {
      right: -21%;
    }
  }
}

.owl-carousel .owl-wrapper-outer{
   overflow: hidden;
   position: relative;
   width: 100%;
   z-index: 1;  /* added this */
}
//end carousel styles


//Menu styles

.md-button {
  font-size: 1.2em;
  font-family: $body;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  color: $codegreen;
  transition: none;
  &:focus, &:active {
    background-color: transparent;
  }
  &:active, &:hover {
    background-color: #D5C8BF;
  }
}

.menu-card {
  background-color: #1A237E;
  padding: 0;
  min-width: 400px;
}

.menu-btn {
  font-size: 1.1em;
  padding: 0;
}

.menu-item {
  background-color: #1A237E;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  align-items: center;
  // height: 80px;
  button {
    font-size: 1.1em;
    padding: 2em 3em;
  }

  .md-list-item-inner {
    font-size: 1.2em;
    font-family: $secondary;
    text-transform: uppercase;
  }

  .expand-icon {
    position: relative;
    right: -26px;
    transition: transform 250ms linear;
    color: white;
  }

  &.expanded .expand-icon {
    transform: rotate(-180deg);
  }
}

.submenu-item {
  padding: 0;
  button {
    font-size: 1.1em;
    padding: 2em 3em;
  }
  // height: 80px;
  .md-list-item-inner {
    padding: 0 36px;
    font-family: $secondary;
    text-transform: uppercase;
  }
}

.menu-item, .submenu-item {
  min-height: 40px;

  &.active, &:hover {
    .md-list-item-inner {
      min-height: 40px;
    }
  }


  .md-list-item-inner {
    min-height: 40px;
    font-weight: 400;
    .menu-btn {
      &:hover, &:active {
        background-color: transparent;
      }
    }
    md-icon {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
//end Menu Styles


#skills {
  align-items: flex-start;
}


header {
  height: 600px;
  background-color: $indigo;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  .header-headline {
    text-align: center;
    margin: 0 auto;
    padding-top: 18vh;
    @media screen and (min-width: 960px) and (max-width: 1400px) {
      padding-top: 16%;
      width: 90%;
    }
    @media screen and (min-width: 1400px) and (max-width: 1800px) {
      padding-top: 16%;
      width: 90%;
    }
    @media (min-width: 1800px) {
      padding-top: 11%;
      width: 85%;
    }
  }
  .header-text {
    font-family: 'Moon';
    font-weight: 400;
    font-size: 5em;
    color: white;
    letter-spacing: 15px;
    @media screen and (min-width: 960px) and (max-width: 1400px) {
      font-size: 4em;
    }
    @media screen and (min-width: 1400px) and (max-width: 1800px) {
      font-size: 5em;
    }
    @media (min-width: 1800px) {
      font-size: 6em;
    }
  }
  .header-subtext {
    font-family: 'Moon';
    font-size: 2em;
    color: $codegreen;
    letter-spacing: 10px;
  }
  .header-quote {
    font-family: $secondary;
    font-weight: 300;
    font-size: 1.3em;
    color: white;
    position: absolute;
    top: 5vh;
    right: 4vw;
    &--attr {
      position: absolute;
      right: 30px;
    }
  }
}

.main {
  background-color: white;
  width: 100%;
  height: 100%;
}


.portal-card {
  background-color: #B39DDB;
  min-height: 300px;
  &__header {
    font-family: $body;
    font-weight: 400;
    font-size: 1.5em;
    padding: 0 32px;
    margin: 0;
    background-color: #B39DDB;;
    color: white;
    &--contact {
      padding: 32px;
    }
  }
  .top-header {
    padding-top: 32px;
  }
  &__description {
    padding: 0 32px;
    background-color: #B39DDB;
    p {
      font-size: 1em;
      font-weight: 400;
      color: white;
    }
    &--contact {
      p {
        font-size: 1.2em;
      }
    }
  }
}


.section-heading {
  font-family: $body;
  font-weight: 400;
  font-size: 1.8em;
  padding: 7%;
  padding-bottom: 2%;
  margin: 0;
  background-color: #B39DDB;;
  color: white;
}

.bio-card {
  margin: 0;
}
.bio-block {
  padding: 7%;
  padding-top: 0;
  background-color: #B39DDB;
  p {
    font-size: 1em;
    font-weight: 400;
    color: white;
  }
}
.chris-pic {
  width: 450px;
  height: 350px;
  text-align: center;
  margin: 0 1em;
  @media (min-width: 1400px) {
    width: 580px;
    height: 430px;
  }
}

.skill-card {
  background-color: #B39DDB;
  &__head {
    font-family: $secondary;
    font-weight: 300;
    color: white;
    padding: .1em;
  }
  &__subhead {
    color: white !important;
    font-size: 1.1em !important;
    font-weight: 400 !important;
    padding: .1em !important;
  }
}
