$darkgray: #263238;
$metal: #9E9E9E;
$codegreen: #69F0AE;
$codegreen-lt: #69F0AE;
$darkgray: #424242;
$indigo: #3F51B5;

$peach: #E36258;
$tan: #CD9B7A;
$brown: #322A28;
$gray: #938C7A;
$green: #72ACAB;


$spaceblue: #0B2333;
$navy: #1B4660;
$red: #FC5759;
$purple: #7F3B5A;
$darkred: #B7414F;
$lightgreen: #9DFEED;
