<div class="layout-row">

  <div class="flex 50 layout-column">
  <h2 class="section-heading">How it all Happened...</h2>
    <div class="bio-block ">
      <p class="bio-text">
        <p>It hit me one day when I was sitting at my desk in a newspaper office, editing a story that I knew was very likely to be lining a puppy's poop bin by the end of the week.</p>

        <p>I wanted to create things that would have a lasting impact — something that people would revisit again and again for inspiration and information. Ironically, the article I was editing
        was about coding, and it was one of many that had come across my desk over the preceding months. Coding, it claimed, was empowering people in all industries who felt disillusioned
        with their job's relevance.</p>

        <p>Since leaving my job in journalism to enter the world of web development, I haven't looked back, but I strive to apply the same conciseness and clarity to my code as I did to my writing.</p>
      </p>
    </div>
  </div>
  <div class="flex 50 layout-align-center">
    <img src="/assets/images/chrisPic.jpg" alt="" style="width: 450px; height: 500px; text-align: center; margin-top: 26px">
  </div>
</div>
