{{#paper-card}}
  <header class="layout-column">
    <h4 class="header-quote">'Design and programming are human activities; forget that and all is lost.'
      <br>
      <span class="header-quote--attr">- Bjarne Stroustrup</span>
    </h4>

      <!-- <h4 class="header-quote header-quote--attr">- Bjarne Stroustrup</h4> -->
      <div class="header-headline">
        <h1 class="header-text">Chris McCandlish</h1>
        <h2 class="header-subtext">Front-End Developer</h2>
      </div>

  </header>
{{/paper-card}}

<main class="main">
  <div class="layout-row layout-xs-column flex-gt-xs-100 layout-padding">

      <div class="layout-column layout-padding">
        {{#ember-wormhole renderInPlace='true'}}

          {{#paper-card class="menu-card"}}
            {{#paper-menu}}
                {{#menu-item onClick=(transition-to 'me')}}Bio{{/menu-item}}

                {{#menu-item canExpand=true expanded=subMenuOpen onClick=(queue (toggle 'subMenuOpen' this) (transition-to 'projects'))}}
                  Projects
                {{/menu-item}}
                {{#liquid-if subMenuOpen}}

                   {{#submenu-item active=(is-active "projects.enterprise" currentRouteName) onClick=(queue (action 'split' 'enterprise') (transition-to 'projects.enterprise'))}}
                      Vinli Enterprise Portal
                   {{/submenu-item}}
                   {{#submenu-item active=(is-active "projects.dev-portal" currentRouteName) onClick=(queue (action 'split' 'dev-portal') (transition-to 'projects.dev-portal'))}}
                      Vinli Developer Portal
                   {{/submenu-item}}
                   {{#submenu-item active=(is-active "projects.my-vinli" currentRouteName) onClick=(queue (action 'split' 'my-vinli') (transition-to 'projects.my-vinli'))}}
                      My Vinli
                   {{/submenu-item}}
                {{/liquid-if}}
                {{#menu-item onClick=(transition-to 'skills')}}
                  Skills
                {{/menu-item}}
                {{#menu-item onClick=(transition-to 'contact')}}
                  Contact Me
                {{/menu-item}}

            {{/paper-menu}}
          {{/paper-card}}
          {{#if currentPortal}}
            {{#paper-button mini=true onClick=(action 'back' this) class="back"}}
              {{paper-icon 'keyboard-arrow-left'}}
            {{/paper-button}}
            {{#liquid-if (eq currentPortal 'enterprise')}}
              <div class="portal-wrapper">
                  <h3 class='portal-card__header top-header'>Project Description</h3>
                  <div class='portal-card__description'>
                    <p>Enterprise Portal is an application for large enterprise organizations to manage their inventory of Vinli devices. The app has three permissioning levels — User, Organization, and Super User — each of which has different levels of access to the application and other organizations and devices.</p>
                  </div>

                  <h3 class='portal-card__header'>Biggest challenge</h3>
                  <div class='portal-card__description'>
                    <p>Ensuring a seamless user experience while managing complex data model relationships between large organizations and users with different permission levels.</p>
                  </div>
                </div>
              {{/liquid-if}}
              {{#liquid-if (eq currentPortal 'dev-portal')}}
                <div class="portal-wrapper">
                  <h3 class='portal-card__header top-header'>Project Description</h3>
                  <div class='portal-card__description'>
                    <p>The Vinli Developer Portal is designed for developers to create applications that leverage vehicle and trip data made available through the Vinli platform.</p>
                  </div>

                  <h3 class='portal-card__header'>Biggest challenge</h3>
                  <div class='portal-card__description'>
                    <p>Effectively presenting data from drivers' devices in a way that engages developers to build on the Vinli platform.</p>
                  </div>
              </div>
            {{/liquid-if}}
            {{#liquid-if (eq currentPortal 'my-vinli')}}
              <div class="portal-wrapper">
                <h3 class='portal-card__header top-header'>Project Description</h3>
                <div class='portal-card__description'>
                  <p>Vinli customers use My Vinli to purchase Wifi for their vehicles, get feedback on driving habits, diagnose check-engine lights, find the nearest towing service, schedule maintenance or contact loved ones in an emergency.</p>
                </div>

                <h3 class='portal-card__header'>Biggest challenge</h3>
                <div class='portal-card__description'>
                  <p>Ensuring a smooth onboarding experience after customers buy a Vinli device, and presenting driving, wifi and maintenance data in an engaging way to ensure that customers continue to return to app.</p>
                </div>
              </div>
            {{/liquid-if}}
          {{/if}}


        {{/ember-wormhole}}
      </div>


      <div class="layout-row flex-gt-xs-70 layout-padding">
        <div class="flex-100 layout-padding">
          {{outlet}}
        </div>
      </div>


  </div>
</main>
