{{#paper-card class="portal-card"}}
  <h2 class="portal-card__header portal-card__header--contact">Contact Me</h2>
  <div class="portal-card__description portal-card__description--contact">
    <p class="portal-card__description portal-card__description--contact"><b>Phone: </b>803-556-9956</p>
    <p class="portal-card__description portal-card__description--contact"><b>Email: </b>cmccand@gmail.com</p>
  </div>
{{/paper-card}}
