{{#paper-card class="portal-card flex-30"}}
  <h2 class="portal-card__header portal-card__header--contact">Contact Me</h2>
  <div class="portal-card__description portal-card__description--contact">
    {{#paper-button class="email-button" href="mailto:cmccand@gmail.com"}}Email{{/paper-button}}
  </div>
{{/paper-card}}
