<div class="layout-row">

  <div class="flex-40 layout-column">
    {{#paper-card class="bio-card"}}
      <h2 class="section-heading">How it all Happened</h2>

      <div class="bio-block ">
        <p class="bio-text">
          <p>It hit me one day when I was sitting at my desk in a newspaper office, editing a story that I knew would very likely be lining a puppy's kennel by the end of the week.</p>

          <p>I wanted to create things that would have a lasting impact — something that people would revisit again and again for inspiration and information.</p>

          <p>The story I was editing claimed that coding was empowering people in all industries who felt disillusioned
          with their job's relevance.</p>

          <p>Since leaving my job in journalism to enter the world of web development, I haven't looked back, but I strive to apply the same conciseness and clarity to my code as I did to my writing.</p>
        </p>
      </div>
    {{/paper-card}}
    </div>
  <div class="flex-65 layout-align-center">
    <img src="/assets/images/chrisPic.jpg" alt="" class='chris-pic'>
  </div>
</div>
